/* base styles */

body {
    background: rgb(245 245 245);
}

li {
    list-style-type: none;
}

td {
    vertical-align:top;
}

hr {
    color:black;
    border: 1px solid black;
}


/* header */


.header {
    padding: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: #5e8fd9;
    margin-bottom: 5%;
}

.header button {
     background: #5e8fd9;
     height:30px;
     color:#fff;
     border:none;
     margin-left:9px;
     padding: 3px;
}


.header-group {
    display:flex;
}

.hamburger {
    position:absolute;
    top: 25px;
    right: 25px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    display:none;
}

.hamburger .bar {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    height: 3px;
}



/* header search bar */

.header-form {
    height: 30px;
    max-width: 180px;
    border-radius: 15px;
    position: relative;
    background: #fff;
    padding-left: 30px;
    padding-right: 15px;
    box-shadow:0 0 0.5rem 0.01rem #3e6093;
}

.header-form::placeholder{
    font-size: 0.7rem;
}

.header-search-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    color: #9ca3af;
    font-size: 0.8rem;
}


.header-form-input {
    height: 100%;
    border:none;
    padding: 0px;
    font-size: 0.8rem;
    max-width: 100%;
}

.header-form-input:focus {
    outline: none;
    border: none;
}


/* content  */

.content {
    display:flex;
    flex-direction: column;
    justify-content:center;
    background:#fff;
}




/* home search bar */

.form-position {
    position: absolute;
    width: 100%;
    top: 50%;
}

.form {
    width:100%;
    border-radius: 25px;
    position: relative;
    background: #fff;
    padding-left: 40px;
    padding-right:25px;
}

.form::placeholder{
    font-size: 1em;
}

.form .fa-search {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #9ca3af;
    font-size: 0.8rem;
}


.form-input {
    height: 45px;
    border:none;
    padding:5px;
    font-size:1rem;
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.auto-button {
    max-width: 100%;
    background: #fff;
    text-align:left;
    padding: 5px;
    border:none;
    font-size:1rem;
}

.auto-result {
    display:flex;
    flex-direction:column;
}


/* movie selection button on the search page */

.selection-button {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #fff;
    border:none;
    border-radius: 15px;
    margin-bottom: 0.7rem;
    box-shadow: 0px 0px 1rem 0.2rem rgb(230, 230, 230);
    padding: 10px;
}

.selection-button:hover {
    box-shadow: 0 0 1rem 0.5rem rgb(220 220 220);
}




.movie-id {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 1rem;
}

.movie-title {
    max-width:90%;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom:10px;
}

.movie-info {
    float:right;
    padding: 10px;
    margin-left: 20px;
    box-shadow: inset 0 0 1rem 0.1rem rgb(230 230 230);
}


.movie-submit {
    background: #fff;
    border:none;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0.1rem rgb(230 230 230);
    border: 1px solid  rgb(0 0 0 / 35%);
    max-width: 90%;
    min-height:35px;
}

.movie-submit:focus {
    border: 1px solid  rgb(0 0 0 / 0.7);
    outline: none;
}


.movie-submit-div{
    margin-left:10%;
    margin-top:5px;
    margin-bottom:5px;
}

.movie-submit-input {
    background: #5e8fd9;
    color:#fff;
    border:none;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0.1rem rgb(230 230 230);
    margin-top: 10px;
    text-align:center;
    min-width: 25%;
    max-width: 80%;
    padding: 8px;
}


.errorlist
    {
        color: rgb(233, 42, 42);
        text-align:left;
        padding:0px;
        margin:0px;
    }


@media screen and (max-width: 550px){
    .header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        padding:20px;
    }
    .header-group {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        margin:5px;
    }
    .header-group.active {
        display:flex;
    }
    .header-group button {
        margin: 5px;
    }
    .hamburger {
        display:flex;
        top:20px;
        right:20px
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px){
    html {
        font-size: 17px;
    }
}

@media screen and (max-width: 400px){
    .movie-content {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;

    }

    .movie-info {
        margin:0px;
        width:100%;

        
    }
}