body {
    background: rgb(245 245 245);
}

li {
    list-style-type: none;
}
td {
    vertical-align:top;
}

.form-position {
    position: absolute;
    width: 100%;
    top: 40%;
}

.form {
    width:100%;
    border-radius: 25px;
    position: relative;
    background: #fff;
    padding-left: 40px;
    padding-right:25px;
    box-shadow: 0 0 2rem 0.1rem rgb(220,220,220);
}

.form .fa-search {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #9ca3af;
    font-size: 0.8rem;
}


.form-input {
    height: 45px;
    border:none;
    padding:5px;
    font-size:1rem;
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.auto-button {
    max-width: 100%;
    background: #fff;
    text-align:left;
    padding: 5px;
    border:none;
    font-size:1rem;
}

.centering {
    margin: 0 auto;
    position: relative;
}
.auto-result {
    display:flex;
    flex-direction:column;
}

.button-box {
    margin:10px;
}

.selection-button {
        position: relative;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #fff;
        border:none;
        border-radius: 15px;
        box-shadow: 0px 0px 2rem 0.1rem rgb(220, 220, 220);
        padding: 10px;
    }

.movie-id {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 1rem;
}

.movie_title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}

.movie-title {
    max-width:70%;
    font-size: 1.1rem;
    font-weight: 600;
}

.movie_plot {
    text-align:justify;
    padding: 10px;
    font-size: 1.1rem;
}

.movie-plot {
    font-size: 1.1rem;
}

.selection-button:hover {
    box-shadow: 0 0 2rem 1rem rgb(220 220 220);
}


.movie_info {
    border-radius: 25px;
    float:right;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 2rem 0.1rem rgb(220 220 220);
}


@media screen and (max-width: 600px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 600px){
    html {
        font-size: 16px;
    }
}
