<!DOCTYPE html>
<html lang="en" class="html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="/static/query_handling/css_files/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>{% block title%}Search{% endblock %}</title>
    </head>
    <body>
        <div class="nav-bar">
            <button><i class="fa fa-search" style="font-size:0.8rem"></i></button>
            <div>
                <button>Add movies</button>
                <button>Home</button>
                <button>About</button>
            </div>
        </div>
        {% block body %}
            <div class="container-fluid">
                <div class="row form-position d-flex justify-content-center align-items-center">
                    <div class="col-sm-8 col-lg-5 col-xxl-4">
                        <form autocomplete="off" action="/search/" method="get" class="form"> 
                            <i class="fa fa-search"></i>
                            <input type="text" id="query" name="query" class="form-control form-input" placeholder="Search movies...">
                            <div id="result" class="auto-result"></div>
                        </form>
                    </div>
                </div>
            </div>
            {% block scripts %}
            <script src="/static/query_handling/javascipt_files/autocomplete.js"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>